header {
    margin:50px 0px; 
    padding:0px;
    background:#CCCCCC;
    text-align:center;
    font-family:Verdana,Times;
	box-shadow: 0 5px 100px white;
}

body {
	margin:50px auto; 
    padding:0px;
    max-width:1369px;
    background:#111111;
}

p.boxed {
    background:#cccccc;
    padding:15px;
    width:1000px;
    float:right;
}

h1 {
   text-align:center;
   font-family:Sans-Serif,Times,Verdana;
   background:#cccccc;
   padding:15px;
   font-size:2.5em;
}

h2 {
   text-align:center;
   font-family:Sans-Serif,Times,Verdana;
   background:#cccccc;
   padding:15px;
   font-size:2em;
}

footer {
    background:#cccccc;
    text-align:center;
    padding:15px;
}

img.clip {
	clip-path: border-box;
}

div#menubar {
    background-color: #666666;
	box-shadow: 0 5px 100px white;
}

ul {
    list-style: none;
}

nav ul {
    margin:0;
    padding:0;
    background: #999999;
}

nav li {
    z-index:10;
    text-align: center;
    display: table-cell;
    border:8px ridge #666666;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px 0;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
}

nav li:hover {
    background-color:#666666;
    border-style:groove;
	box-shadow: 0px 0px 100px orange;
}

a {
    color:black;
    text-decoration:none;
}

a.pad {
    padding-left:5px;
    padding-right:5px;
    display:inline-block;
}

a:hover {
    color:green;
}

#rounded {
    border:5px ridge #666666;
    border-radius:100px;
}